<div class="notification-settings-container">
  <h2 class="notification-title">
    <span class="notification-icon"></span>
    通知设置
  </h2>
  
  <div class="setting-item">
    <div class="setting-label">
      <div class="setting-title">开启提醒</div>
      <div class="setting-description">定时提醒您喝水</div>
    </div>
    <label class="toggle-switch">
      <input 
        type="checkbox" 
        [(ngModel)]="reminderEnabled"
      />
      <span class="toggle-slider"></span>
    </label>
  </div>
  
  <div class="setting-item">
    <div class="setting-label">
      <div class="setting-title">提醒声音</div>
      <div class="setting-description">播放提醒音效</div>
    </div>
    <label class="toggle-switch">
      <input 
        type="checkbox" 
        [(ngModel)]="soundEnabled"
      />
      <span class="toggle-slider"></span>
    </label>
  </div>
</div>
